<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Error</h1>
    
    <div class="error-container">
      <p><%= message %></p>
      <a href="/person" class="btn btn-primary">Back to People List</a>
    </div>
  </div>
</body>
</html>
